<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <a href="/" class="lang-logo">
                    <img src="/logo.png">
                </a>
                <h1>Добре дошли</h1>
                <p>Това е примерна страница, която има за цел да ви показва вашите резултати</p>
                <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Примерна връзка</a>
                <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Още една връзка</a>
            </div>
        </div>
        <div class="container">
            <div class="alert alert-info text-center" role="alert">
                Внимание! Много важна информация ще има тук.
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon"></span> Това е за вас</h3>
                    <ul>
                        <li>Номер 1</li>
                        <li>Номер 2</li>
                        <li>Номер 3</li>
                        <li>Номер 4</li>
                        <li>Номер 5</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon-link"></span> Връзки</h3>
                    <ul>
                        <li>Обратно</li>
                        <li>Зарибено</li>
                        <li>веремеро</li>
                    </ul>
                    <h3><span class="glyphicon glyphicon-link"></span> Полезни връзки</h3>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!-- row -->
            <div class="alert alert-info text-center" role="alert">
                Моля използвайте информацият, ковто е предоставена тук.
            </div>
        </div>


</body>

</html>